In [1]:
%matplotlib inline
from sklearn import tree
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(os.path.join("vehicles.csv"))
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [5]:
filtered_df = df.loc[(df['state'] == 'ny') | (df['state'] == 'il') | (df['state'] == 'ca') | (df['state'] == 'tx')]
filtered_df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
5,7222379453,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
6,7221952215,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
7,7220195662,https://hudsonvalley.craigslist.org/cto/d/poug...,hudson valley,https://hudsonvalley.craigslist.org,15995,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
10,7218893038,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
11,7218325704,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN

In [6]:
filtered_df.state.value_counts()

ca    50614
tx    22945
ny    19386
il    10387
Name: state, dtype: int64

In [7]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103332 entries, 5 to 385575
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            103332 non-null  int64
 1   url           103332 non-null  object
 2   region        103332 non-null  object
 3   region_url    103332 non-null  object
 4   price         103332 non-null  int64
 5   year          103146 non-null  float64
 6   manufacturer  99041 non-null   object
 7   model         102082 non-null  object
 8   condition     67035 non-null   object
 9   cylinders     59218 non-null   object
 10  fuel          103025 non-null  object
 11  odometer      101856 non-null  float64
 12  title_status  101334 non-null  object
 13  transmission  102836 non-null  object
 14  VIN           62152 non-null   object
 15  drive         68572 non-null   object
 16  size          29295 non-null   object
 17  type          81164 non-null   object
 18  paint_color   71269 non-null   object
 19  image_url     103312 non-null  object
 20  description   103312 non-null  object
 21  county        0 non-null       float64
 22  state         103332 non-null  object
 23  lat           102794 non-null  float64
 24  long          102794 non-null  float64
 25  posting_date  103312 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 21.3+ MB

In [8]:
filtered_df= filtered_df.drop(columns=['id', 'url', 'region_url', 'image_url', 'description', 'county', 'posting_date', 'VIN', 'title_status'], axis=1)

In [9]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103332 entries, 5 to 385575
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        103332 non-null  object
 1   price         103332 non-null  int64
 2   year          103146 non-null  float64
 3   manufacturer  99041 non-null   object
 4   model         102082 non-null  object
 5   condition     67035 non-null   object
 6   cylinders     59218 non-null   object
 7   fuel          103025 non-null  object
 8   odometer      101856 non-null  float64
 9   transmission  102836 non-null  object
 10  drive         68572 non-null   object
 11  size          29295 non-null   object
 12  type          81164 non-null   object
 13  paint_color   71269 non-null   object
 14  state         103332 non-null  object
 15  lat           102794 non-null  float64
 16  long          102794 non-null  float64
dtypes: float64(4), int64(1), object(12)
memory usage: 14.2+ MB

In [10]:
filtered_df.isnull().sum()

region              0
price               0
year              186
manufacturer     4291
model            1250
condition       36297
cylinders       44114
fuel              307
odometer         1476
transmission      496
drive           34760
size            74037
type            22168
paint_color     32063
state               0
lat               538
long              538
dtype: int64

In [11]:
filtered_df["price"].describe()

count    1.033320e+05
mean     6.842665e+04
std      1.056180e+07
min      0.000000e+00
25%      5.900000e+03
50%      1.398500e+04
75%      2.599500e+04
max      3.009549e+09
Name: price, dtype: float64

In [12]:
filtered_df=filtered_df[(filtered_df.price < 100000) & (filtered_df.price >= 750 )]
filtered_df.shape

(91353, 17)

In [13]:
filtered_df=filtered_df[(filtered_df.odometer < 300000) & (filtered_df.odometer > 1000)]
filtered_df=filtered_df[filtered_df.year>1985]
filtered_df.shape

(85187, 17)

In [14]:
filtered_df['condition'].isnull().sum()

26532

In [15]:
filtered_df.condition.value_counts()

good         28088
excellent    24233
like new      4882
fair          1157
new            182
salvage        113
Name: condition, dtype: int64

In [16]:
filtered_df.loc[filtered_df.year>=2019, 'condition'] = filtered_df.loc[filtered_df.year>=2019, 'condition'].fillna('new')
filtered_df.loc[filtered_df.year>=2017, 'condition'] = filtered_df.loc[filtered_df.year>=2017, 'condition'].fillna('like new')

In [17]:
filtered_df.isnull().sum()

region              0
price               0
year                0
manufacturer     2577
model             680
condition       18919
cylinders       34347
fuel              222
odometer            0
transmission      254
drive           27765
size            60978
type            16987
paint_color     24218
state               0
lat               281
long              281
dtype: int64

In [18]:
excellent_odo_mean = filtered_df[filtered_df['condition'] == 'excellent']['odometer'].mean()
good_odo_mean = filtered_df[filtered_df['condition'] == 'good']['odometer'].mean()
like_new_odo_mean = filtered_df[filtered_df['condition'] == 'like new']['odometer'].mean()
salvage_odo_mean = filtered_df[filtered_df['condition'] == 'salvage']['odometer'].mean()
fair_odo_mean = filtered_df[filtered_df['condition'] == 'fair']['odometer'].mean()

In [19]:
print('Like new average odometer:', round( like_new_odo_mean,2))
print('Excellent average odometer:', round( excellent_odo_mean,2))
print('Good average odometer:', round( good_odo_mean,2))
print('Fair average odometer:', round( fair_odo_mean,2))
print('Salvage average odometer:', round( salvage_odo_mean,2))

Like new average odometer: 70046.26
Excellent average odometer: 106976.33
Good average odometer: 71368.73
Fair average odometer: 165996.28
Salvage average odometer: 137752.94

In [20]:
filtered_df.loc[filtered_df['odometer'] <= like_new_odo_mean, 'condition'] = filtered_df.loc[filtered_df['odometer'] <= like_new_odo_mean, 'condition'].fillna('like new')

filtered_df.loc[filtered_df['odometer'] >= fair_odo_mean, 'condition'] = filtered_df.loc[filtered_df['odometer'] >= fair_odo_mean, 'condition'].fillna('fair')

filtered_df.loc[((filtered_df['odometer'] > like_new_odo_mean) & 
       (filtered_df['odometer'] <= excellent_odo_mean)), 'condition'] = filtered_df.loc[((filtered_df['odometer'] > like_new_odo_mean) & 
       (filtered_df['odometer'] <= excellent_odo_mean)), 'condition'].fillna('excellent')

filtered_df.loc[((filtered_df['odometer'] > excellent_odo_mean) & 
       (filtered_df['odometer'] <= good_odo_mean)), 'condition'] = filtered_df.loc[((filtered_df['odometer'] > excellent_odo_mean) & 
       (filtered_df['odometer'] <= good_odo_mean)), 'condition'].fillna('good')

filtered_df.loc[((filtered_df['odometer'] > good_odo_mean) & 
       (filtered_df['odometer'] <= fair_odo_mean)), 'condition'] = filtered_df.loc[((filtered_df['odometer'] > good_odo_mean) & 
       (filtered_df['odometer'] <= fair_odo_mean)), 'condition'].fillna('salvage')

**This is where you would look at the correlations between the values below.  Before they are filled in with kind of dummy data

In [21]:
filtered_df['cylinders'] = filtered_df['cylinders'].fillna(method='ffill')
filtered_df['fuel'] = filtered_df['fuel'].fillna(method='ffill')
filtered_df['size'] = filtered_df['size'].fillna(method='ffill')
filtered_df['paint_color'] = filtered_df['paint_color'].fillna(method='ffill')
filtered_df['drive'] = filtered_df['drive'].fillna(method='ffill')
filtered_df['manufacturer'] = filtered_df['manufacturer'].fillna(method='ffill')
filtered_df['type'] = filtered_df['type'].fillna(method='ffill')

In [22]:
filtered_df.isnull().sum()

region            0
price             0
year              0
manufacturer      0
model           680
condition         0
cylinders         1
fuel              0
odometer          0
transmission    254
drive             0
size              2
type              0
paint_color       0
state             0
lat             281
long            281
dtype: int64

In [23]:
new_df = filtered_df.dropna()
new_df.isnull().sum()

region          0
price           0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
drive           0
size            0
type            0
paint_color     0
state           0
lat             0
long            0
dtype: int64

In [24]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83977 entries, 21174 to 385575
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   region        83977 non-null  object
 1   price         83977 non-null  int64
 2   year          83977 non-null  float64
 3   manufacturer  83977 non-null  object
 4   model         83977 non-null  object
 5   condition     83977 non-null  object
 6   cylinders     83977 non-null  object
 7   fuel          83977 non-null  object
 8   odometer      83977 non-null  float64
 9   transmission  83977 non-null  object
 10  drive         83977 non-null  object
 11  size          83977 non-null  object
 12  type          83977 non-null  object
 13  paint_color   83977 non-null  object
 14  state         83977 non-null  object
 15  lat           83977 non-null  float64
 16  long          83977 non-null  float64
dtypes: float64(4), int64(1), object(12)
memory usage: 11.5+ MB

In [25]:
new_df.head()

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color,state,lat,long
21174,bakersfield,11975,2003.0,harley-davidson,davidson,excellent,8 cylinders,gas,207000.0,automatic,rwd,full-size,pickup,black,ca,34.070612,-117.383384
21176,bakersfield,21950,2003.0,chevrolet,silverado 3500,excellent,8 cylinders,diesel,202537.0,automatic,4wd,full-size,truck,grey,ca,33.794656,-117.992994
21178,bakersfield,27590,2018.0,acura,tlx 3.5 sedan 4d,good,6 cylinders,gas,20420.0,other,fwd,full-size,sedan,black,ca,35.380000,-119.020000
21179,bakersfield,21990,2018.0,volkswagen,tiguan 2.0t s sport,good,6 cylinders,gas,7233.0,other,fwd,full-size,other,green,ca,35.380000,-119.020000
21180,bakersfield,22590,2018.0,gmc,terrain sle sport utility 4d,good,6 cylinders,gas,33826.0,other,fwd,full-size,other,green,ca,35.380000,-119.020000

In [26]:
new_df.to_csv('cars_cleaned_sample.csv', index=False)

In [27]:
new_df.state.value_counts()

ca    39848
tx    19243
ny    16374
il     8512
Name: state, dtype: int64