In [14]:
from pycaret.regression import *
import pandas as pd
import numpy as np

In [15]:
saved_final_rf = load_model('Final RF Model 08-04-2021')

Transformation Pipeline and Model Successfully Loaded

In [21]:
# saved_final_rf.get_params

In [19]:
user_input_data = pd.read_csv('static/data/user_input_data.csv', encoding="utf-8")
user_input_data.head()

,price,year,manufacturer,condition,cylinders,odometer,transmission,drive,size,type,state
0,4000.0,2008,toyota,good,4 cylinders,140000.0,automatic,4wd,full-size,SUV,il

In [20]:
user_input_predictions = predict_model(saved_final_rf, data=user_input_data)
user_input_predictions.head()

,price,year,manufacturer,condition,cylinders,odometer,transmission,drive,size,type,state,Label
0,4000.0,2008,toyota,good,4 cylinders,140000.0,automatic,4wd,full-size,SUV,il,7103.18

In [8]:
user_input_predictions.to_csv('outputs/model_one/user_input_prediction.csv', index=False)

In [ ]:
# from pycaret.utils import check_metric
# check_metric(user_input_predictions.price, user_input_predictions.Label, 'R2')

In [ ]:
# residual_plot = plot_model(saved_final_rf)

In [ ]:
# predict_err_plot = plot_model(saved_final_rf, plot = 'error')

In [ ]:
# importance_plot = plot_model(saved_final_rf, plot='feature')

In [ ]:
# evaluate_model(saved_final_rf)

In [22]:
user_input_data = pd.read_csv('static/data/user_input_data2.csv', encoding="utf-8")
user_input_data.head()

,price,year,manufacturer,condition,cylinders,odometer,transmission,drive,size,type,state
0,18000,2017,jeep,good,6 cylinders,45000,automatic,4wd,full-size,SUV,ny

In [23]:
user_input_predictions = predict_model(saved_final_rf, data=user_input_data)
user_input_predictions.head()

,price,year,manufacturer,condition,cylinders,odometer,transmission,drive,size,type,state,Label
0,18000,2017,jeep,good,6 cylinders,45000,automatic,4wd,full-size,SUV,ny,27859.956667