In [1]:
%matplotlib inline
from sklearn import tree
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv(os.path.join("static/data/master_vehicles.csv"))
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [24]:
filtered_df = df.loc[(df['state'] == 'ny') | (df['state'] == 'il') | (df['state'] == 'ca') | (df['state'] == 'tx')]
filtered_df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
5,7222379453,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
6,7221952215,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
7,7220195662,https://hudsonvalley.craigslist.org/cto/d/poug...,hudson valley,https://hudsonvalley.craigslist.org,15995,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
10,7218893038,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
11,7218325704,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN

In [25]:
filtered_df.state.value_counts()

ca    50614
tx    22945
ny    19386
il    10387
Name: state, dtype: int64

In [26]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103332 entries, 5 to 385575
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            103332 non-null  int64
 1   url           103332 non-null  object
 2   region        103332 non-null  object
 3   region_url    103332 non-null  object
 4   price         103332 non-null  int64
 5   year          103146 non-null  float64
 6   manufacturer  99041 non-null   object
 7   model         102082 non-null  object
 8   condition     67035 non-null   object
 9   cylinders     59218 non-null   object
 10  fuel          103025 non-null  object
 11  odometer      101856 non-null  float64
 12  title_status  101334 non-null  object
 13  transmission  102836 non-null  object
 14  VIN           62152 non-null   object
 15  drive         68572 non-null   object
 16  size          29295 non-null   object
 17  type          81164 non-null   object
 18  paint_color   71269 non-null   object
 19  image_url     103312 non-null  object
 20  description   103312 non-null  object
 21  county        0 non-null       float64
 22  state         103332 non-null  object
 23  lat           102794 non-null  float64
 24  long          102794 non-null  float64
 25  posting_date  103312 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 21.3+ MB

In [27]:
filtered_df = filtered_df.drop(columns=['id', 'url', 'region_url', 'image_url', 'description', 'county','lat','long', 'model', 'region', 'paint_color', 'fuel' , 'VIN', 'title_status', 'cylinders', 'odometer', 'transmission', 'drive', 'size', 'condition', 'state', 'type'], axis=1)

In [28]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103332 entries, 5 to 385575
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         103332 non-null  int64
 1   year          103146 non-null  float64
 2   manufacturer  99041 non-null   object
 3   posting_date  103312 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ MB

In [29]:
filtered_df.isnull().sum()

price              0
year             186
manufacturer    4291
posting_date      20
dtype: int64

In [30]:
filtered_df["price"].describe()

count    1.033320e+05
mean     6.842665e+04
std      1.056180e+07
min      0.000000e+00
25%      5.900000e+03
50%      1.398500e+04
75%      2.599500e+04
max      3.009549e+09
Name: price, dtype: float64

In [31]:
filtered_df=filtered_df[(filtered_df.price < 100000) & (filtered_df.price >= 750 )]
filtered_df.shape

(91353, 4)

In [33]:
filtered_df=filtered_df[filtered_df.year>1985]
filtered_df.shape

(88619, 4)

In [34]:
filtered_df.isnull().sum()

price              0
year               0
manufacturer    2963
posting_date       0
dtype: int64

**This is where you would look at the correlations between the values below.  Before they are filled in with kind of dummy data

In [21]:
# filtered_df['manufacturer'] = filtered_df['manufacturer'].fillna(method='ffill')

In [35]:
filtered_df.isnull().sum()

price              0
year               0
manufacturer    2963
posting_date       0
dtype: int64

In [36]:
new_df = filtered_df.dropna()
new_df.isnull().sum()

price           0
year            0
manufacturer    0
posting_date    0
dtype: int64

In [37]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85656 entries, 21171 to 385575
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         85656 non-null  int64
 1   year          85656 non-null  float64
 2   manufacturer  85656 non-null  object
 3   posting_date  85656 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.3+ MB

In [55]:
new_df

        price    year     manufacturer              posting_date
21171   16990  2018.0          hyundai  2021-05-04T12:41:15-0700
21172    3700  2004.0           toyota  2021-05-04T12:40:04-0700
21174   11975  2003.0  harley-davidson  2021-05-04T12:26:43-0700
21176   21950  2003.0        chevrolet  2021-05-04T12:04:51-0700
21178   27590  2018.0            acura  2021-05-04T11:41:04-0700
...       ...     ...              ...                       ...
385571  30990  2018.0    mercedes-benz  2021-04-04T12:01:05-0500
385572  25990  2017.0           jaguar  2021-04-04T11:11:16-0500
385573  31990  2020.0          lincoln  2021-04-04T10:01:19-0500
385574  34590  2020.0         infiniti  2021-04-04T09:11:36-0500
385575  15990  2014.0            acura  2021-04-04T08:01:38-0500

[85656 rows x 4 columns]

In [39]:
new_df.to_csv('cars_data_over_time_sample.csv', index=False)

In [56]:
dates = new_df['posting_date']
dates

21171     2021-05-04T12:41:15-0700
21172     2021-05-04T12:40:04-0700
21174     2021-05-04T12:26:43-0700
21176     2021-05-04T12:04:51-0700
21178     2021-05-04T11:41:04-0700
                    ...
385571    2021-04-04T12:01:05-0500
385572    2021-04-04T11:11:16-0500
385573    2021-04-04T10:01:19-0500
385574    2021-04-04T09:11:36-0500
385575    2021-04-04T08:01:38-0500
Name: posting_date, Length: 85656, dtype: object

In [45]:
import datetime as dt

In [54]:
# current date and time
year = []
month = []
day = []

dates = dt.fromtimestamp(new_df['posting_date'])

AttributeError: module 'datetime' has no attribute 'fromtimestamp'

In [51]:
for date in dates:
    year = dates.strftime("%Y")
    month = dates.strftime("%m")
    day = dates.strftime("%d")

AttributeError: Can only use .dt accessor with datetimelike values

In [46]:
xaxis = [dt.strptime(d, '%Y%m%d') for d in new_df['posting_date']]
xaxis.head()

AttributeError: module 'datetime' has no attribute 'strptime'